<% @comments.each do |c| %>
    <div class="row alert alert-primary">
        <p class="col-10 text-left">
            <%= c.content %>
        </p>
        <span class="col-2">
            <%= button_to "삭제", memo_comment_path(@memo,c),method: :delete,class: "btn btn-danger", data: {confirm: "정말 삭제하겠습니까?"} %>
        </span>
    </div>
<% end %>
