<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row mt-5">
      <div class="col-lg-10 mx-auto pt-5">
        <h1 class="text-uppercase text-primary">
          <strong>수선화 안녕?</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5 text-dark">대구남산고등학교 학생커뮤니티입니다.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">반가워요</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">수선화 안녕?</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">
           이 곳은 남산고등학교 학생들의 편의를 위한 남산고 커뮤니티입니다.<br/>
           옷,책,기타로 나뉜 섹션에서 물물교환(거래)를 할 수 있습니다.<br/>
           모두들 서로를 먼저 생각하는 수선인이 됩시다.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Join us</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">물물장터</h2>
        <p class="text-muted mb-0">학생들끼리 물건을 교환하는 곳입니다.</p>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-shopping-bag text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">옷</h3>
          <p class="text-muted mb-0">교복과 체육복 교환을 추천합니다</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">책</h3>
          <p class="text-muted mb-0">교과서나 문제집 교환을 추천합니다</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-spinner text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">기타</h3>
          <p class="text-muted mb-0">필기구, 악세서리 등 창의성을 발휘해봅시다</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-primary text-white">
  <div class="container">
    <h3 class="mb-4 text-center">깨끗한 커뮤니티를 위한 규칙</h3>
    <ol class="">
      <li>원가이상으로 물건을 팔지 못한다</li>
      <li>무조건 직거래만 할 수 있다</li>
      <li>게시물 제목은 `학반번호 교환하고자 하는 물건'이어야 한다</li>
      <li>게시물을 쓸 때 카카오톡 아이디를 적어야 한다</li>
      <li>남을 먼저 생각하며 깨끗한 언어생활을 한다</li>
    </ol>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">문의하기</h2>
        <hr class="my-4">
        <p class="mb-5">문의하실거에요?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-comment fa-3x mb-3 sr-contact"></i><br/>
            <img src="id_type.png" width="140px"/>
      </div>
      <div class="col-lg-4 mr-auto text-center mt-3">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          hellonamsan@naver.com
        </p>
      </div>
    </div>
  </div>
</section>

    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

    <!-- Plugin JavaScript -->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->
    <!--<script src="vendor/scrollreveal/scrollreveal.min.js"></script>-->
    <!--<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>-->

    <!-- Custom scripts for this template -->
    <!--<script src="js/creative.min.js"></script>-->
