/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

//color management
.text-muted{ 
    color: #8492a7 !important;
}
.text-info{ 
    color: #00b5ff !important;
}
.text-success{ 
    color: #00d061 !important;
}
.text-primary{ 
    color: #7e55f3 !important;
}
.text-warning{ 
    color: #ffd654 !important;
}
.text-danger{ 
    color: #ff4743 !important;
}
//background-color
.bg-muted{ 
    background-color: #8492a7 !important;
}
.bg-info{ 
    background-color: #00b5ff !important;
}
.bg-success{ 
    background-color: #00d061 !important;
}
.bg-primary{ 
    background-color: #7e55f3 !important;
}
.bg-warning{ 
    background-color: #ffd654 !important;
}
.bg-danger{ 
    background-color: #ff4743 !important;
}

//btn-color
.btn-muted{ 
    border-color: #8492a7 !important;
    background-color: rgba(#8492a7,0.5) !important;
}
.btn-info{ 
    border-color: #00b5ff !important;
    background-color: rgba(#00b5ff,0.5) !important;
}
.btn-success{ 
    border-color: #00d061!important;
    background-color: rgba(#00d061,0.5) !important;
}
.btn-primary{ 
    border-color: #7e55f3 !important;
    background-color: rgba(#7e55f3,0.5) !important;
}
.btn-warning{ 
    border-color: #ffd654 !important;
    background-color: rgba(#ffd654,0.5) !important;
}
.btn-danger{ 
    border-color: #ff4743 !important;
    background-color: rgba(#ff4743,0.5) !important;
}