<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">시간</th>
    </tr>
  </thead>
  <tbody>
    <% @memos.each do |m| %>
    <tr>
      <th scope="row"><%= m.id %></th>
      <td><%= link_to m.title, memo_path(m) %></td>
      <td><%= m.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>