<header class="w-100 header-memo">
    <div class="container h-100 d-flex flex-column justify-content-center">
      <div class="d-flex flex-row justify-content-between">
        <h2>방과후연애</h2>
        <p align="right">
          <%= link_to "글쓰기", new_memo_path, class: "btn btn-primary" %>
        </p>
        
      </div>
    </div>
</header>

<div class="container mt-5">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">시간</th>
      </tr>
    </thead>
    <tbody>
      <% @memos.each do |m| %>
      <tr>
        <th scope="row">#</th>
        <td><%= link_to m.title.first(15), memo_path(m) %></td>
        <td><%= m.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center align-items-center">
        <%= paginate @memos, theme: 'twitter-bootstrap-4'%>
  </div>
</div>